.card{
  background-color :#f5f5f5;
  width: 600px;
  padding: 0;
}

.button-container {
  position: relative;
}

.popup-overlay{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 999;
  display: none; 
}